---
import axios from 'axios';
import 'bootstrap/dist/css/bootstrap.css'

// Define the type for the grade object
interface Grade {
  gradeid: number;
  name: string;
  ap1: number;
  ap2: number;
  ap3: number;
  ap4: number;
  ap5: number;
  ap6: number;
  ap7: number;
  ap8: number;
  ap9: number;
  ap10: number;
  ap_total:number;
  ap_percentage:number;

}

let grades: Grade[] = [];
let loading = true;
let error: Error | null = null;

try {
  const response = await axios.get('http://localhost:4000/grades');
  grades = response.data;
  loading = false;
} catch (err) {
  error = err as Error;
  loading = false;
}
---

<main>
  
 
    {loading ? (
        <p>Loading...</p>
      ) : error ? (
        <p>There was an error: {error.message}</p>
      ) : (
        <table class="table table-bordered ">
          <thead >
            <tr >
              <th></th>
              <th colspan="11" class="text-center flex-fill ">PROJECT/ACTIVITY</th>
              <th>45</th>
            </tr>
          </thead>
          <tbody> 

            <tr>
                <td></td>
                <td>P1</td>
                <td>P2</td>
                <td>P3</td>
                <td>P4</td>
                <td>P5</td>
                <td>P6</td>
                <td>P7</td>
               
                <td>P8</td>
                <td>P9</td>
                <td>P10</td>
                <td>TOTAL</td>
                <td>%</td>
            </tr>
            {grades.map((grades: Grade) => (
              <tr >
                
                <td>{grades.name}</td>
                
                <td>{grades.ap1}</td>
                <td>{grades.ap2}</td>
                <td>{grades.ap3}</td>
                <td>{grades.ap4}</td>
                <td>{grades.ap5}</td>
                <td>{grades.ap6}</td>
                <td>{grades.ap7}</td>
                <td>{grades.ap8}</td>
                <td>{grades.ap9}</td>
                <td>{grades.ap10}</td>
                <td>{grades.ap_total}</td>
                <td>{grades.ap_percentage}</td>
              </tr>
            ))}
          </tbody>
        </table>
      )}





    
    
   
    

 
</main>

