---
import axios from 'axios';
import 'bootstrap/dist/css/bootstrap.css'

// Define the type for the grade object
interface Grade {
  gradeid: number;
  name: string;
  q1: number;
  q2: number;
  q3: number;
  q4: number;
  q5: number;
  q6: number;
  q7: number;
  q8: number;
  q9: number;
  q10: number;
  q_total:number;
  q_percentage:number;

}

let grades: Grade[] = [];
let loading = true;
let error: Error | null = null;

try {
  const response = await axios.get('http://localhost:4000/grades');
  grades = response.data;
  loading = false;
} catch (err) {
  error = err as Error;
  loading = false;
}
---

<main>
  
 
    {loading ? (
        <p>Loading...</p>
      ) : error ? (
        <p>There was an error: {error.message}</p>
      ) : (
        <table class="table table-bordered table-dark">
          <thead >
            <tr >
              <th></th>
              <th colspan="11" class="text-center flex-fill ">QUIZZZZZZZ</th>
              <th>15</th>
            </tr>
          </thead>
          <tbody> 

            <tr>
                <td></td>
                <td>Q1</td>
                <td>Q2</td>
                <td>Q3</td>
                <td>Q4</td>
                <td>Q5</td>
                <td>Q6</td>
                <td>Q7</td>
              
                <td>Q8</td>
                <td>Q9</td>
                <td>Q10</td>
                <td>TOTAL</td>
                <td>%</td>
            </tr>
            {grades.map((grades: Grade) => (
              <tr >
                
                <td>{grades.name}</td>
             
                <td>{grades.q1}</td>
                <td>{grades.q2}</td>
                <td>{grades.q3}</td>
                <td>{grades.q4}</td>
                <td>{grades.q5}</td>
                <td>{grades.q6}</td>
                <td>{grades.q7}</td>
                <td>{grades.q8}</td>
                <td>{grades.q9}</td>
                <td>{grades.q10}</td>
                <td>{grades.q_total}</td>
                <td>{grades.q_percentage}</td>
              </tr>
            ))}
          </tbody>
        </table>
      )}





    
    
   
    

 
</main>

